<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tacademy.eunbiminitest">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tstore.TStoreAppListActivity"
            android:label="@string/title_activity_tstore_app_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".tstore.TStoreDetailActivity"
            android:label="@string/title_activity_tstore_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".chatting.ChattingActivity"
            android:label="@string/title_activity_chatting"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".facebook.FacebookDetailActivity"
            android:label="@string/title_activity_facebook_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".facebook.FacebookWriteActivity"
            android:label="@string/title_activity_facebook_write"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".login.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".youtube.YoutubePlayerActivity"
            android:label="@string/title_activity_youtube_player"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".utils.BrowserActivity" />

        <activity android:name=".facebook.FacebookPhotoUploadActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- 라이브러리 추가하면 되지만, 안해줘서 이거 꼭 해줘야함! -->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider1595706920758255"
            android:exported="true" />

    </application>

</manifest>
